<div th:fragment="navbar">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
			  <div class="container">
			    <a class="navbar-brand" href="http://localhost:9090">
					
				 <img src="/img/logo.png" class="logo" >Siriam Infotech
				</a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a th:class="${page=='index'} ? 'nav-link active' : 'nav-link'" href="http://localhost:9090">Home</a>
			        </li>
			        <li class="nav-item">
			          <a th:class="${page=='about'} ? 'nav-link active' : 'nav-link'" href="about">About Project</a>
			        </li>
			       <li class="nav-item">
			          <a th:class="${page=='technologies'} ? 'nav-link active' : 'nav-link'" href="technologies">Technologies in Use</a>
			        </li>
			        <li class="nav-item">
			          <a th:class="${page=='contact'} ? 'nav-link active' : 'nav-link'" href="contact">Contact Us</a>
			        </li>
			      </ul>
			        <ul class="navbar-nav d-flex flex-row me-1">
			        <li class="nav-item login">
						 <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
 						 <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"/>
						</svg> Login</a>
					 </li>
			      </ul>
			    
			     
			    </div>
			  </div>
			</nav>
</div>

<div th:fragment="footer">
	<div class="row" style="height: 200px;">
				<div class="col-3">
					Footer col1
				</div>
				<div class="col-3">
					Footer col2
				</div>
				<div class="col-6">
					Footer col3
				</div>
			</div>
</div>



 <div th:fragment="left-sidebar" class="d-flex flex-column flex-shrink-0 p-3  alert alert-primary" style="width: 280px;height: 550px;">
   
    <div class="primary" >
      <span class="fs-4">Quick Links</span>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column ">
      <li class="nav-item">
        <a href="http://localhost:9090" th:class="${page=='index'} ? 'nav-link active' : 'nav-link'" >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link " >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/emplist}" th:class="${page=='emplist'} ? 'nav-link active' : 'nav-link'">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Manage Employees 
        </a>
      </li>
      <liclass="nav-item">
        <a th:href="@{/showNewEmployeeForm}" th:class="${page=='showNewEmployeeForm'} ? 'nav-link active' : 'nav-link'">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Add Employee
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link ">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
 </div>
  
