<!DOCTYPE html>
<html lang="eng" xmlns="http://www.thymeleaf.org">
	<head>
			<link rel="stylesheet"   href="/css/index.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<title>
			List of all Employees
		</title>
	</head>
	<body>
		<div class="container p-2" >
			<div th:replace="fragments/comman :: navbar"></div>
			<hr>
			<div class="row pt-4 px-2" style="min-height: 800px;">
			<div th:replace="fragments/comman :: left-sidebar" >
				
			</div>
				<div class="col-9">
			
					<h1> Employees List</h1>
					<table border="1px" class="table table-striped">
						<thead> 
							<tr>
								<th>
									<a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
		       							Employee First Name</a>
		       					</th>
								<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
		      							 Employee Last Name</a></th>
								<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
		       							Employee Email</a></th>
								<th>Actions</th>		
							</tr>			
						</thead>
						<tbody>
							<tr th:each="employee : ${listEmp}">
								<td th:text ="${employee.firstName}"></td>
								<td th:text ="${employee.lastName}"></td>
								<td th:text ="${employee.email}"></td>
								<td>
									<a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>
									<a href="#" class="btn btn-danger" data-toggle="modal" th:data-target="${'#deleteConfirmationModal'+employee.id}">Delete</a>
										
										<!-- Delete Confirmation Modal -->
										<div class="modal fade" th:id="${'deleteConfirmationModal'+employee.id}" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
										    <div class="modal-dialog" role="document">
										        <div class="modal-content">
										            <div class="modal-header">
										                <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Confirmation</h5>
										                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										                    <span aria-hidden="true">&times;</span>
										                </button>
										            </div>
										            <div class="modal-body">
										                <p>Are you sure you want to delete record of <span th:text ="${employee.firstName}"> </span> having  EMP ID <span th:text ="${employee.id}">?</p>
										             
										            </div>
										            <div class="modal-footer">
										                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										                <!-- Add your delete logic or form submission here -->
										                <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
										            </div>
										        </div>
										    </div>
										</div>
								</td>
							</tr>
						</tbody>
						
					</table>
					<div th:if="${totalPages >1}">
						<div class="row col-sm-10">
							<div class = "col-sm-2">
								Total Rows: <span th:text="${totalItems}"></span>
							</div>
							<div class = "col-sm-1">
								<span th:each="i: ${#numbers.sequence(1,totalPages)}">
									<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
									<span th:unless="${currentPage != i}" >[[${i}]]</span> &nbsp; &nbsp;
								</span>
							</div>
							<div class = "col-sm-1">
								<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
								<span th:unless = "${currentPage < totalPages}">next</span>
							</div>
							<div class = "col-sm-1">
								<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
								<span th:unless = "${currentPage < totalPages}">Last</span>
							</div>
							
						</div>
						</div>
					<div class="ms-auto">
						<a th:href="@{/showNewEmployeeForm}" class="btn btn-primary">Add New</a>
					</div>
				</div>
				
				<div th:replace="fragments/comman :: footer"></div>
			</div>	
		</div>		
	</body>
</html>